@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
a {
    color: black;
    text-decoration: none;
    font-family: Lora;
}
html, body {
    font-family: Lora;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
}

input {
    margin: 10px 0px;
}

.logo {
    width: 150px;
    margin-right: 10px;
}
