<!-- CampusMart App base html file -->
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}CampusMart App{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'campusmart/basestyles.css' %}">
</head>
<body>
    {% load static %}
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg fixed-top" style="background-color: white;">
            <div class="container-fluid">

                <!-- Logo to the left  -->
                <a class="navbar-brand" href="{% url 'campusmart:index' %}">
                    <img src="{% static 'campusmart/campusmart_logo.png' %}" alt="CampusMart Logo" class="logo">
                </a>
                <!-- display error or success messages with their appropriate alert color -->
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == "error" %}
                            <div class="alert alert-danger d-flex align-items-center" role="alert">
                                <ul>
                                    <li> {{ message }}</li>
                                </ul>
                            </div>
                        {% else %}
                            <div class="alert alert-{{ message.tags }} d-flex align-items-center" role="alert">
                                <ul>
                                    <li> {{ message }}</li>
                                </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <!-- Toggler (Hamburger menu) for small screens -->
                <button class="navbar-toggler" type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#navbarContent"
                        aria-controls="navbarContent" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Content-->
                <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
                    <ul class="navbar-nav gap-3 align-items-lg-center">
                        <li class="nav-item">
                            <a class="nav-link text-lg font-semibold" href="{% url 'campusmart:create_listing' %}">New item</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-lg font-semibold" href="{% url 'campusmart:listing_all' %}">Browse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-lg font-semibold" href="{% url 'campusmart:checkout' %}">Purchase Listings</a>
                        </li>
                            
                        {% if request.user.is_authenticated %}
                            <li class="nav-item text-center">
                                <p class="mb-1">{{ request.user.username }}</p>
                                <div class="d-flex gap-2 justify-content-center">
                                    <a href="{% url 'campusmart:inbox' %}" class="btn btn-light">Inbox</a>
                                    <a href="{% url 'campusmart:logout' %}" class="btn btn-light">Logout</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="d-flex gap-2 justify-content-center">
                                <a href="{% url 'campusmart:login' %}" class="btn btn-outline-warning btn-sm">Login</a>
                                <a href="{% url 'campusmart:register' %}" class="btn btn-outline-warning btn-sm">Register</a>
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                </div>

            
        </nav>
        

    <div id="content" class="mt-5" style="padding-top: 80px;">
        {% block content %}
        {% endblock %}
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
            integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
            crossorigin="anonymous"></script> -->
</body>
</html>