{% extends "campusmart/base.html" %} {% block content %}
<h1>Delete Listing</h1>

<div class="alert alert-danger mt-4 col-md-6 m-auto text-center" role="alert">
  <p>Are you sure you want to delete the listing:</p>
  <h4>"{{ listing.title }}"</h4>
  <p>This action cannot be undone.</p>

  <form method="POST" class="mt-4">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger btn-lg">Yes, Delete</button>
    <a
      href="{% url 'campusmart:dashboard' %}"
      class="btn btn-secondary btn-lg ms-3"
      >Cancel</a
    >
  </form>
</div>
{% endblock %}
