{% extends "campusmart/base.html" %} 
{% block content %}

<h1>Available items</h1>

<div class="container"
    <div class="row">
        <div class="col-span-1">
            <form method="get" action="{% url 'campusmart:listing_all' %}">
                <input name="query" type="text" value="{{ query }}" placeholder="search">
                <button type="button" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>

    <div class="row row-cols-4" style="padding-top: 20px;">
        {% for listing in listings %}
            <div class="col">
                <a class="card" href="{% url 'campusmart:detail' listing.id %}">
                    <center>
                        <img 
                            src="{{ listing.photo.url }}" 
                            class="img-fluid" 
                            alt="Listing Photo"
                            width="200px"
                            height="auto"
                        >
                    </center>
                    <div class="card-body">
                        <h5 class="card-title">{{ listing.title }}</h5>
                        <p class="card-text">${{ listing.price }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>  

</div>

<!-- pagination -->
<nav aria-label="Pagination">
    <ul class="pagination justify-content-center">
        {% if page > 1 %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page|add:-1 }}">Previous</a>
            </li>
        {% endif %}

        {% if page_range %}
            {% for p in page_range %}
                <li class="page-item {% if page == p %}active{% endif %}" style="padding-top:20px">
                    <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                </li>
            {% endfor %}
        {% endif %}

        {% if page < total_pages %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page|add:'1' }}">Next</a>
            </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}
