{% extends "campusmart/base.html" %} 
{% block content %}

<h1>Available items</h1>

<div class="pb-6 grid grid-cols-3 gap-4">
    <div class="col-span-1">
        <form method="get" action="{% url 'campusmart:listing_all' %}">
            <input name="query" class="w-full py-4 px-6 rounded-xl" type="text" value="{{ query }}" placeholder="search">
            <button type="button" class="btn btn-primary">Search</button>
        </form>
    </div>

    <div class="row">
        <div class="col-sm-6"></div>
            <!-- {% load static %} -->
            {% for listing in listings %}
                <div>
                    <a class="card" href="{% url 'campusmart:detail' listing.id %}">
                        <center>
                            <img 
                                src="{{ listing.photo.url }}" 
                                class="img-fluid" 
                                alt="Listing Photo"
                                width="200px"
                                height="auto"
                            >
                        </center>
                        <div class="card-body">
                            <h5 class="card-title">{{ listing.title }}</h5>
                            <p class="card-text">${{ listing.price }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>  
</div>

<!-- pagination -->
<nav aria-label="Pagination">
    <ul class="pagination justify-content-center">
        {% if page > 1 %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page|add:-1 }}">Previous</a>
            </li>
        {% endif %}

        {% if page_range %}
            {% for p in page_range %}
                <li class="page-item {% if page == p %}active{% endif %}">
                    <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                </li>
            {% endfor %}
        {% endif %}

        {% if page < total_pages %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page|add:'1' }}">Next</a>
            </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}