<!-- from course repo -->
{% extends "campusmart/base.html" %}
{% block content %}
<h1>User login</h1>
<form class="m-auto col-md-3" method="POST">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    <div class="form-floating">
        <input type="text" class="form-control" id="username" name="username" placeholder="username">
        <label for="username">Username</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="password" name="password"  placeholder="Password">
        <label for="password">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <br />
    <br />
    <p>New users register below:</p>
    <a href="{% url 'campusmart:register' %}" class="btn btn-primary btn-lg">
        Register
    </a>
</form>
{% endblock %}