<!-- from course repo -->
{% extends "campusmart/base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    <form action="{% url 'campusmart:register' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>
                <h1>Register</h1>
            </legend>
                <input type="text" name="name" id="name">
                <label for="name">Name</label><br>
                <input type="text" name="username" id="username">
                <label for="username">Username</label><br>
                <input type="email" name="email" id="email">
                <label for="email">Email</label><br>
                <input type="password" name="password" id="password">
                <label for="password">Password</label><br>
        </fieldset>
        <input class="btn btn-primary btn-lg" type="submit" value="Register">
        <br />
        <br />
        <p>Returning users log in below:</p>
        <a href="{% url 'campusmart:login' %}" class="btn btn-primary btn-lg">
            Login
        </a>
    </form>
{% endblock %}